<section class="company" data-700="background-position: 50% 46%;" data-end="background-position: 50% -10%;" id="comp">
	<div class="container">
		<div class="company-block company-block_mb154">
      <div class="company-block__item company-block__item_fb435">
        <div class="text-block">
          <h3 class="text-block__header text-block__header_mb70">О компании</h3>
          <div class="text-block__wrapper text-block__wrapper_mb51">
            <p class="text-block__par">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <p class="text-block__par">
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <span class="lable"><a href="#" class="link">Подробней</a></span>
        </div>
      </div>
      <div class="company-block__item company-block__item_fb683">
        <div class="photo-block photo-block_h576">
          <img src="img/pick1.jpg" alt="Kitchen" class="photo-block__item">
          <img src="img/triang.jpg" alt="triangle" class="photo-block__pseudo-item">
          <div class="photo-block__first-lable" data-700="bottom: 72px;" data-end="bottom: 1332px;">
            <span>лет опыта</span>
            <span>10</span>
          </div>
          <div class="photo-block__second-lable" data-700="bottom: 72px;" data-end="bottom: 500px;">
            <span>01</span>
            <span>/ о нас</span>
          </div>
        </div>
      </div>
		</div>
		<div class="company-block company-block_mb110">
      <div class="company-block__item company-block__item_fb687">
        <div class="photo-block photo-block_h400">
          <img src="img/pick2.png" alt="Kitchen" class="photo-block__item">
        </div>
      </div>
      <div class="company-block__item company-block__item_fb440" id="int">
        <div class="text-block text-block_pt43">
          <h3 class="text-block__header">Интерьеры</h3>
          <div class="text-block__wrapper text-block__wrapper_mb65">
            <p class="text-block__par">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
          <span class="lable"><a href="#" class="link">Подробней</a></span>
        </div>
      </div>
		</div>
		<div class="company-block company-block_mb75">
			<div class="company-block__item company-block__item_fb440" id="arch">
        <div class="text-block text-block_pt43 ">
          <h3 class="text-block__header">Архитектура</h3>
          <div class="text-block__wrapper text-block__wrapper_mb65">
            <p class="text-block__par">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
          <span class="lable"><a href="#" class="link">Подробней</a></span>
        </div>
			</div>
			<div class="company-block__item company-block__item_fb687">
        <div class="photo-block photo-block_h400">
            <img src="img/pick3.jpg" alt="Kitchen" class="photo-block__item photo-block__item_h400">
            <div class="photo-block__second-lable photo-block__second-lable_mod1" data-700="bottom: 72px;" data-end="bottom: 500px;">
              <span>02</span>
              <span>/ услуги</span>
            </div>
        </div>
			</div>
		</div>
    <a href="#cont" class="link btn">Начать проект</a>
	</div>
</section>