<section class="contacts" id="cont">
  <div class="contacts__bg">
    <div class="contacts__text">Контакты</div>
  </div>
  <div class="container">
    <h2 class="title">У вас есть интересный проект?</h2>
    <h2 class="title title_mb210">Давайте поговорим об этом!</h2>
    <div class="address address_mb110">
      <div class="address__wrapper">
        <div class="address__item">
          <h6 class="address__title">Номер:</h6>
          <p class="address__text"><a href="tel:380931116666" class="link">+38 093 111 66 66</a></p>
        </div>
        <div class="address__item">
          <h6 class="address__title">E-mail:</h6>
          <p class="address__text"><a href="mailto:someone@example.com?Subject=Hello%20again" class="link">example@gmail.com</a></p>
        </div>
      </div>
    </div>
    <a href="google.com" class="link btn btn_mb250">Начать проект</a>
  </div>
  <footer class="footer">
    <div class="container container_mw1720">
      <ul class="footer__list">
        <li>© 2018. All rights reserved.</li>
        <li>
          <div class="socials">
            <span><a href="https://osom.com.ua/" class="link" target="_blank">Facebook</a></span>
            <span><a href="https://osom.com.ua/" class="link" target="_blank">Instagram</a></span>
          </div>
        </li>
        <li><a href="https://osom.com.ua/" class="link" target="_blank">Create by <span class="big">OSOM AGENCY</span></a></li>
      </ul>
    </div>
  </footer>
</section>