<section class="about" id="b1">
  <header class="header">
    <div class="header__wrapper container container_mw1820">
      <div class="header__list">
      <div class="logo">
        <a href="#b1"><img class="header__img" src="img/logo.png" alt="logo"></a>
      </div>
      <ul class="nav">
        <li class="nav__item">
          <a href="#b1" class="link">Главная</a>
        </li>
        <li class="nav__item">
          <a href="#comp" class="link">О компании</a>
        </li>
        <li class="nav__item">
          <a href="#int" class="link">интерьеры</a>
        </li>
        <li class="nav__item">
          <a href="#arch" class="link">архитектура</a>
        </li>
        <li class="nav__item">
          <a href="#cont" class="link">Контакты</a>
        </li>
      </ul>
      <ul class="lang">
        <li class="lang__item"><a href="#" class="link">EN</a></li>
        <li class="lang__item_h">
          <ul class="lang__inner">
            <li class="lang__item"><a href="#" class="link">RU</a></li>
            <li class="lang__item"><a href="#" class="link">UA</a></li>
          </ul>
        </li>
      </ul>
      <div class="mobile" id="mob">
        <span class="fas fa-bars" aria-hidden="true" id="hamburger"></span>
        <span class="fas fa-times mobile__item_hidden" aria-hidden="true" id="close"></span>
      </div>
      <div class="hidden-menu" id="h-m">
        <ul class="nav-h">
          <li class="nav__item">
            <a href="#b1" class="link">Главная</a>
          </li>
          <li class="nav__item">
            <a href="#comp" class="link">О компании</a>
          </li>
          <li class="nav__item">
            <a href="#int" class="link">интерьеры</a>
          </li>
          <li class="nav__item">
            <a href="#arch" class="link">Архитектура</a>
          </li>
          <li class="nav__item">
            <a href="#cont" class="link">Контакты</a>
          </li>
          <li class="nav__item">
            <a href="#" class="link">EN</a>
          </li>
          <li class="nav__item">
            <a href="#" class="link">RU</a>
          </li>
          <li class="nav__item">
            <a href="#" class="link">UA</a>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </header>
  <div class="about-gallery owl-carousel">
    <div class="about-gallery__item">
      <h2 class="about-gallery__title">Красивые и функциональные интерьеры для квартир</h2>
      <img src="img/pick.jpg" alt="Some Pick">
    </div>
    <div class="about-gallery__item">
      <h2 class="about-gallery__title">Классные и функциональные интерьеры для квартир</h2>
      <img src="img/pick.jpg" alt="Some Pick">
    </div>
    <div class="about-gallery__item">
      <h2 class="about-gallery__title">Крутые и функциональные интерьеры для квартир</h2>
      <img src="img/pick.jpg" alt="Some Pick">
    </div>
  </div>
  <span class="about__lable"><a href="#" class="link">Подробней</a></span>
  <div class="socials socials_h">
    <span><a href="https://osom.com.ua/" class="link" target="_blank">Facebook</a></span>
    <span><a href="https://osom.com.ua/" class="link" target="_blank">Instagram</a></span>
  </div>
</section>