<section class="portfolio">
  <div class="container">
    <div class="portfolio__wrapper portfolio__wrapper_mb170">
      <h2 class="portfolio__title">В каждом проекте мы уделяем также много внимания проработке дизайну</h2>
      <span class="lable lable_cw"><a href="#" class="link">Подробней</a></span>
    </div>
    <div class="portfolio-gallery owl-carousel">
      <div class="portfolio-gallery__item">
        <div class="portfolio__mark portfolio__mark_mb40">
          <span>Интерьеры</span>
        </div>
        <div class="text-block">
          <h3 class="text-block__header text-block__header_mod1 text-block__header_mb110">Дизайн спальной комнаты новостройки</h3>
          <div class="text-block__wrapper">
            <p class="text-block__par text-block__par_mod1 text-block__par_mb90">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
          <span class="lable lable_mod1"><a href="#" class="link">Подробней</a></span>
        </div>
        <div class="portfolio-gallery__img">
          <img src="img/cam4.jpg" alt="Some Pick">
        </div>
      </div>
      <div class="portfolio-gallery__item">
        <div class="portfolio__mark portfolio__mark_mb40">
          <span>Интерьеры</span>
        </div>
        <div class="text-block">
          <h3 class="text-block__header text-block__header_mod1 text-block__header_mb110">Дизайн спальной комнаты новостройки</h3>
          <div class="text-block__wrapper">
            <p class="text-block__par text-block__par_mod1 text-block__par_mb90">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
          <span class="lable lable_mod1"><a href="#" class="link">Подробней</a></span>
        </div>
        <div class="portfolio-gallery__img">
          <img src="img/cam4.jpg" alt="Some Pick">
        </div>
      </div>
      <div class="portfolio-gallery__item">
        <div class="portfolio__mark portfolio__mark_mb40">
          <span>Интерьеры</span>
        </div>
        <div class="text-block">
          <h3 class="text-block__header text-block__header_mod1 text-block__header_mb110">Дизайн спальной комнаты новостройки</h3>
          <div class="text-block__wrapper">
            <p class="text-block__par text-block__par_mod1 text-block__par_mb90">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
          <span class="lable lable_mod1"><a href="#" class="link">Подробней</a></span>
        </div>
        <div class="portfolio-gallery__img">
          <img src="img/cam4.jpg" alt="Some Pick">
        </div>
      </div>
    </div>
  </div>
</section>